<section class="cart py-16 mt-20">
    <% if(session.cart && session.cart.totalQty && session.cart.totalQty!=0) { %>
    <div class="order container flex flex-col lg:flex-row">
        <!-- Left Part -->
        <div class="pizza-list w-full lg:w-2/3">
            <div class="flex items-center border-b border-gray-300 pb-4">
                <img src="/img/cart-black.png" alt="">
                <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
            </div>
            <% for(let pizza of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8" data-pizza-id="<%= pizza.item._id %>">
                <img class="w-24" src="/img/<%= pizza.item.image %>" alt="">
                <div class="flex-1 ml-4">
                    <h1><%= pizza.item.name %></h1>
                    <span><%= pizza.item.size %></span>
                </div>
                <span class="flex-1 text-orange-700"><%=pizza.item.offer %>% OFF</span>
                <span class="flex-1"><%= pizza.qty %> item</span>
                <span class="font-medium text-lg line-through mr-4">₹ <%=pizza.item.price* pizza.qty%></span>
                <span class="font-bold text-lg">₹ <%= Math.floor(pizza.item.price*(1-pizza.item.offer/100) * pizza.qty )%></span>
                <button data-pizza='<%= JSON.stringify({ item: pizza.item, _id: pizza.item._id }) %>' 
                    class="btn btn-danger rounded-pill px-3 ml-10 removeButton">remove</button>
            </div>
            <%  } %>
        </div>
        
        <!-- Right Part -->
        <div class="ml-0 lg:ml-20 py-4 w-full lg:w-1/3">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹<%= Math.floor( session.cart.totalPrice) +1 %></span>
            </div>
            <% if(user) { %>
                <div>
                    <form action="/orders" method="POST" class="mt-12" id="payment-form">
                        <div class="relative mb-4">
                            <select id="paymentType" name="paymentType" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                                <option value="cod">Cash on delivery</option>
                                <option value="card">Pay with card</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input name="name" type="text" class="form-control" id="floatingInputGroup1" placeholder="name">
                                <label for="floatingInputGroup1">Name</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input name="phone" type="text" class="form-control" id="floatingInputGroup1" placeholder="Phone number">
                                <label for="floatingInputGroup1">Phone number</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input name="address" type="text" class="form-control" id="floatingInputGroup2" placeholder="Address">
                                <label for="floatingInputGroup2">Address</label>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div id="card-element"></div>
                            <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Order Now</button>
                        </div>
                    </form>
                </div>
                
            <% } else { %>
            <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">No Items in Your Cart 😕</h1>
            <p class="text-gray-500 text-lg mb-12">It looks like your pizza cart is empty. <br>
            To add some delicious pizzas to your cart, please visit our main page.</p>
                        
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div>
    <% } %>
</section>
